.square {
  font-size: 22px;
  text-align: center;
  font-variant: small-caps;

  padding: 35px 30px 35px 30px;
  border: 5px solid #fff;
}

.square-blank {
  color:            #000;
  background-color: #eee;
}

.square-blank:hover {
  background-color: #ccc;

  cursor: pointer;
}

.square-red {
  color:            #fff;
  background-color: #e55;
}

.square-red-unguessed {
  color:            #f00;
  background-color: #eee;
}

.square-blue {
  color:            #fff;
  background-color: #55e;
}

.square-blue-unguessed {
  color:            #00f;
  background-color: #eee;
}

.square-grey {
  background-color: #eec;
}

.square-grey-unguessed {
  color:            #000;
  background-color: #eee;
}

.square-assassin {
  color:            #fff;
  background-color: #111;
}

.square-assassin-unguessed {
  color:            #111;
  background-color: #ccc;
}


.score-red {
  color: #f00;
}

.score-blue {
  color: #00f;
}

.score-status {
  font-size: 40px;
}
